<section class="section hero">
  <div class="container">
    <div class="background-left-wrapper"></div>
    <div class="background"></div>
    <div class="background-image__wrapper">
      <div class="background-image"></div>
    </div>

    <a href="./index.html" class="logo hero__logo">Thrivetalk</a>

    <h1 class="title hero__title">HELPING YOU THRIVE IN ALL AREAS OF LIFE</h1>
    <p class="text hero__text">
      Our highly talented therapists can help you with a range of issues
      including relationships, sex, PTSD, depression, social anxiety, or even
      just caring for yourself more.
    </p>
    <div class="hero__links-wrapper">
      <a href="#" class="hero__link">WHO AM I</a>
      <a href="#" class="hero__link">WHAT DO I DO</a>
    </div>
  </div>
</section>
